[Unit]
Description=Enable USB Ethernet gadget
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/sbin/modprobe g_ether
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
