[Unit]
Description=BYD Battery Emulator Service
After=multi-user.target

[Service]
Type=simple
User=debian
Restart=on-failure
WorkingDirectory=/home/debian
ExecStart=/usr/bin/python3 bydcan.py

[Install]
WantedBy=multi-user.target
