# qca7k / qca7000 support
CONFIG_QCA7000=y
CONFIG_QCA7000_SPI=y

# USB gadget networking (for BeagleBone USB client connector)
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_ETH=y
CONFIG_USB_ETH_EEM=y
CONFIG_USB_ETH_RNDIS=y
